<footer class="hola-footer">
  <div class="hola-container hola-columns">
    <% Object.keys(theme.footer_links).forEach(function(blockName){ %>
      <div class="hola-columns-item hola-columns-item-margined ihola-footer-block">
        <h4><%- blockName %></h4>
        <% Object.keys(theme.footer_links[blockName]).forEach(function(link){ %>
          <a href="<%- theme.footer_links[blockName][link] %>"><%- link %></a>
        <% }) %>
      </div>
    <% }) %>
  </div>
  <div class="hola-container ihola-footer-right">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
    <%- theme.footer_line %><br>
  </div>
</footer>
